<div class="title">
  <h1>Book a Flight</h1>
</div>

<div class="section-center">
  <div class="row">
  <form [formGroup]="form">
    <div>
      <p>Full Name</p>
      <input formControlName="Name" class="inputname">
      <span style="color:red" *ngIf ="form.get('Name')?.errors?.['required']">Required Name</span>
    </div>

    <div>
    <table>
      <tr>
        <th class="label">From</th>
        <th class="label">To</th>
      </tr>
      <tr>
        <td>
          <select class="Districts" formControlName="from" [ngModel]="booking.from">
            <option [ngValue]="null"></option>
            <option class="option" *ngFor="let i of list" [ngValue]="i.name">
              {{i.name}}
            </option>
          </select>
          <span style="color:red" *ngIf ="form.get('from')?.errors?.['required']">Required</span>
        </td>
        <td>
          <select class="Districts" formControlName="to" [ngModel]="booking.to">
            <option [ngValue]="null"></option>
            <option class="option" *ngFor="let i of list" [ngValue]="i.name">
              {{i.name}}
            </option>
          </select>
          <span style="color:red" *ngIf ="form.get('to')?.errors?.['required']">Required</span>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <table class="trip">
      <tr>
        <th class="label">Trip type</th>
        <th class="label">Departure</th>
        <th class="label">Arrival</th>
      </tr>
      <tr>
        <td class="radiolabel">
          <input type="radio" formControlName="type" value="One way" class="radio"> One way
          <input type="radio" formControlName="type" value="Return" class="radio"> Return
        </td>
        <td>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="dp1" formControlName="departure" class="inputdate1" [min]="checkdate">
            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1></mat-datepicker>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="dp2" formControlName="arrival" class="inputdate2" [min]="checkdate">
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table class="numberoffam">
      <tr>
        <th class="label">Adults</th>
        <th class="label">Children</th>
        <th class="label">Infants</th>
      </tr>
      <tr>
        <td><input type="number" formControlName="adults" >
          <span style="color:red" *ngIf="(
          form.get('adults')?.hasError?.('pattern') &&
          form.get('adults')?.touched)">Invalid input.</span>
        </td>
        <td><input type="number" formControlName="children"></td>
        <!-- <span style="color:red" *ngIf="(
          form.get('children')?.hasError?.('pattern') &&
          form.get('children')?.touched)">Invalid input.</span> -->
        <td><input type="number" formControlName="infants"></td>
        <!-- <span style="color:red" *ngIf="(
          form.get('infants')?.hasError?.('pattern') &&
          form.get('infants')?.touched)">Invalid input.</span> -->
      </tr>
    </table>
  </div>
  <br>
  <div>
    <button [disabled]="form.invalid" (click)="onsubmit(form)">Submit</button>
  </div>
  </form>
  <hr>

  </div>
</div>

<table class="tr3">
  <tr>
    <th class="show1">Name</th>
    <th class="show1">From</th>
    <th class="show1">To</th>
    <th class="show1">Type</th>
    <th class="show1">departure</th>
    <th class="show1">Arrival</th>
    <th class="show1">Adults</th>
    <th class="show1">Children</th>
    <th class="show1">Infants</th>
  </tr>
  <tr *ngFor="let i of bookings">
   <td class="showtd">{{ i.fullName }}</td>
   <td class="showtd">{{ i.from }}</td>
   <td class="showtd">{{ i.to }}</td>
   <td class="showtd">{{ i.type }}</td>
   <td class="showtd">{{ i.departure }}</td>
   <td class="showtd">{{ i.arrival }}</td>
   <td class="showtd">{{ i.adults }}</td>
   <td class="showtd">{{ i.children }}</td>
   <td class="showtd">{{ i.infants }}</td>
 </tr>
 </table>

