h1 {
	/* Font & Text */
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 63.8px;
	text-decoration: none solid rgb(255, 192, 1);
	text-align: center;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 192, 1);

	/* Box */
	height: 63.8px;
	width: 642px;
	border: 0px none rgb(255, 192, 1);
	border-top: 0px none rgb(255, 192, 1);
	border-right: 0px none rgb(255, 192, 1);
	border-bottom: 0px none rgb(255, 192, 1);
	border-left: 0px none rgb(255, 192, 1);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
 margin-left: 450px;

}
form{
  margin-left: 450px;

  background-attachment: scroll;
	background-color: rgb(16, 17, 19);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(51, 51, 51);

  height: 520.688px;
	width: 642px;
	border: 0px none rgb(51, 51, 51);
	border-top: 0px none rgb(51, 51, 51);
	border-right: 0px none rgb(51, 51, 51);
	border-bottom: 0px none rgb(51, 51, 51);
	border-left: 0px none rgb(51, 51, 51);
}

.tr3,.show1 {
  border: 2px solid black;
  top: auto;
	bottom: auto;
	right: auto;
	left: auto;
}
.showtd{
  height: 50px;
  vertical-align: bottom;
  border: 2px solid black;
  width: 2%;
  top: auto;
	bottom: auto;
	right: auto;
	left: auto;
}

p{
  font-weight: bold;
  color: white;
  top: auto;
	bottom: auto;
	right: auto;
	left: auto;
}
.radiolabel{
  font-weight: bold;
  color: white;
  top: auto;
	bottom: auto;
	right: auto;
	left: auto;
}
.label{
  color: white;
  top: auto;
	bottom: auto;
	right: auto;
	left: auto;
}
input{
  width:100%
}
.inputdate1,.inputdate2{
  color: black
}
mat-form-field{
  color: black;
  background-color: white;
}

button{
	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 192, 1);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(16, 17, 19);

	/* Box */
	height: 50px;
	width: 602px;
	border: 0px none rgb(16, 17, 19);
	border-top: 0px none rgb(16, 17, 19);
	border-right: 0px none rgb(16, 17, 19);
	border-bottom: 0px none rgb(16, 17, 19);
	border-left: 0px none rgb(16, 17, 19);
	margin: 0px;
	padding: 1px 6px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 1px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.section-center,.title{
  background:rgba(77, 121, 202, 0.945)
}
